.app {
    font-family: "Roboto-Medium";
}

@font-face {
    font-family: "Roboto-Medium";
    src: local("Roboto-Medium"),
        url("./fonts/Roboto-Medium.ttf") format("truetype");
}

.football-layout1 {
    display: flex;
    flex-direction: row;
    align-items: center; /* Vertical alignment */
}
.football-layout2 {
    width: 100%;
    height: 256px;
    top: 345px;
    background: #f5f4f9;
    display: flex;
    flex-direction: row;
    align-items: center; /* Vertical alignment */
}

.football-layout3 {
    width: 100%;
    height: 297px;
    top: 601px;
    background: #5e3db3;
    display: flex;
    flex-direction: row;
    align-items: center; /* Vertical alignment */
}
.basketball-layout1 {
    display: flex;
    flex-direction: row;
    align-items: center; /* Vertical alignment */
}
.basketball-layout2 {
    width: 100%;
    height: 245px;
    top: 485px;
    background: #f5f4f9;
    display: flex;
    flex-direction: row;
    align-items: center; /* Vertical alignment */
}
.basketball-layout3 {
    width: 100%;
    height: 268px;
    top: 730px;
    background: #090c35;
    display: flex;
    flex-direction: row;
    align-items: center; /* Vertical alignment */
}
.head-title {
    font-size: 90px;
    font-weight: 400;
    line-height: 105px;
    letter-spacing: 0px;
    text-align: left;
    color: #e7e7e7;
}
.label {
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0px;
    text-align: left;
    color: #000000;
    display: flex;
}
.under-line {
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0px;
    text-align: center;
    margin: 5px;
}
.under-line::after {
    content: "";
    border: solid #603ebe;
    border-radius: 5px;
    display: flex;
}
.label-text {
    font-size: 36px;
    font-weight: 400;
    line-height: 42px;
    letter-spacing: 1.5px;
    text-align: left;
    color: #c2c2c2;
}
.description {
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: left;
    color: #000000;
}
.light-text{
    color: #ffffff !important;
}
.light-text-2{
    color: #603ebe !important;
}